.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px;
}

.app__body {
  flex: 1;
}

.body_container {
  margin-left: auto;
  margin-right: auto;
}
/* header trang chủ */
.Navbar_header {
  position: relative !important;
  z-index: 1;
  margin-top: -83px;
}
.container {
  display: contents;
}
.Navbar_header-slider {
  position: absolute !important;
  z-index: 2;
}

nav.navbar.navbar-expand-md.navbar-light.bg-light {
  display: contents;
}

.container {
  margin-left: 10%;
}
.slider {
  width: 200px;
  height: 500px;
}

.span.carousel-control-next-icon:hover() {
  opacity: 1;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 0;
}

#slider_h3 {
  color: #fff !important;

  animation-name: example;
  animation-duration: 3s;
}
#slider_h3:hover {
  color: #fff !important;

  animation-name: example;
  animation-duration: 3s;
}
@keyframes example {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.button {
  background-color: brown;
}
.carousel-indicators [data-bs-target] {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

nav.navbar.navbar-expand-lg.navbar-dark {
  padding-left: 6rem;
  font-size: 1.1rem;
  padding-top: 15px;
}
/* chi tiết tour*/
#chitiet {
  text-align: center;
  display: block;
  text-transform: uppercase;
  line-height: 20px !important;
  color: #fff;
  background-color: #ff5a00;
  padding: 9px 0px;
  width: 100%;
}
#chitiet-gia-tien {
  color: red !important;
  line-height: 20px;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;

  text-align: center;
  margin: 0px 0px;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
div#Body-content {
  padding: 2em 8em;
  background-color: rgba(238, 238, 238, 0.16);
}
h1#Body-content_tour {
  text-align: center;
  font-weight: bolder;
  color: #fff;
}

.dropdown-menu.show {
  background: none;
  border: none;
}
a.dropdown-item {
  color: #ffffffcc;
}
