.formGroup {
  margin-bottom: 16px;
}

.formGroup input {
  padding: 6px 8px;
  width: 100%;
}

.formGroup .label {
  margin-bottom: 2px;
  font-weight: 500;
}

.formGroup .fieldMessage {
  color: red;
  margin-top: 2px;
}
