.posts {
  display: block;
  padding: 8px;
  padding-top: 80px;
}

.checkSVG {
  display: block;
  text-align: center;
}

.checkSVG svg {
  width: 18px !important;
  font-size: 15px;
  color: rgb(7, 154, 58);
}

.posts th {
  text-align: center;
}
