.terms .nav-tabs {
  border-bottom: 1px solid rgb(180, 180, 180) !important;
}

.terms .nav-tabs .nav-link {
  font-weight: 500;
  color: #050505;
  border: 1px solid rgb(180, 180, 180);
  background: white;
}

.terms .nav-tabs .nav-link.active {
  border-bottom: 1px solid white;
}

.terms .tab-content {
  background: white;
  padding: 16px;
  border: 1px solid rgb(180, 180, 180);
  border-top: 0px solid #000;
}
